<head>
  <title>DWeb</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag image_url('LogoIcon.svg') %>
  <meta property="og:title" content="Developing Websites" />
  <meta property="og:description" content="Making Dreams Come True">
  <meta property="og:image" content='<%=image_url('LogoIcon.svg')%>'/>
  <%= favicon_link_tag 'ProfileImg.png', rel: 'apple-touch-icon', type: 'image/png'%>
</head>
