<head>
  <title>DWeb</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('LogoIcon.svg') %>
  <meta
      name="description"
      content="Developing Websites Making Dreams Come True"
    />
  <%= favicon_link_tag 'ProfileImg.svg', rel: 'apple-touch-icon', type: 'image/png'%>
</head>
